<footer class="c-stack b-rfa-singlecolumn-about__footer" data-style-direction="vertical"
  data-style-justification="start" data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
  <div class="c-stack b-footer rfa-footer" data-style-direction="vertical" data-style-justification="start"
    data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
    <section class="b-footer__top-container"></section>
    <div class="b-footer__links">
      <div class="b-footer__links-group">
        <h2 class="c-heading">Topics</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/cambodia/">Cambodia</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/china/">China</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/laos/">Laos</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/myanmar/">Myanmar</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/korea/">North Korea</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/tibet/">Tibet</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/uyghur/">Uyghur</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/vietnam/">Vietnam</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/pacific/">Pacific</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/south-china-sea/">South China
              Sea</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/environment">Environment</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/factcheck">Asia Fact Check
              Lab</a></li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">Languages</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/mandarin"
              rel="noreferrer" target="_blank">普通话<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/cantonese"
              rel="noreferrer" target="_blank">粤语<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/burmese"
              rel="noreferrer" target="_blank">မြန်မာ<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/korean"
              rel="noreferrer" target="_blank">한국어<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/lao" rel="noreferrer"
              target="_blank">ລາວ<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/khmer"
              rel="noreferrer" target="_blank">ខ្មែរ<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/tibetan"
              rel="noreferrer" target="_blank">བོད་སྐད།<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/uyghur"
              rel="noreferrer" target="_blank">ئۇيغۇر<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/vietnamese"
              rel="noreferrer" target="_blank">Tiếng Việt<span class="visually-hidden">Opens in new window</span></a>
          </li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.rfa.org/english"
              rel="noreferrer" target="_blank">English<span class="visually-hidden">Opens in new window</span></a></li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">More</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/cartoon/">Cartoon</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/opinion/">Opinion</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/special-reports/">Special
              report</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/bookshelf/">E-books</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/story_archive/">Archives</a></li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">Listen</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/schedule/">Schedule</a>
          </li>
          <li class="b-footer__links-group-list-item"><a class="c-link"
              href="/english/about/frequencies/">Frequencies</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/insider/">Podcast</a></li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">Watch</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/video">Video</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/gallery/">Photo galleries</a>
          </li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">Subscribe</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/arc/outboundfeeds/english/rss/">RSS</a>
          </li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/subscribe/email-alerts/">Email
              Alerts</a></li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">Find Us</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.youtube.com/RFAVideo"
              rel="noreferrer" target="_blank">YouTube<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://www.facebook.com/RFAEnglish"
              rel="noreferrer" target="_blank">Facebook<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="https://twitter.com/RadioFreeAsia"
              rel="noreferrer" target="_blank">Twitter<span class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/web_access/">Bypass
              Censorship</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link"
              href="/arc/outboundfeeds/english/sitemap-news/">Sitemap</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/send_news_form/">Send Us Your
              News</a></li>
        </ul>
      </div>
      <div class="b-footer__links-group">
        <h2 class="c-heading">About RFA</h2>
        <ul class="b-footer__links-group-list">
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/">About Us</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/mission/">Our Mission</a>
          </li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/terms-of-use/">Terms of
              Use</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/privacy-policy/">Privacy
              Policy</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/cookie-policy/">Cookie
              Policy</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/codeofethics/">Code of
              Ethics</a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link"
              href="https://careers-rfacareers.icims.com/jobs/" rel="noreferrer" target="_blank">Careers<span
                class="visually-hidden">Opens in new window</span></a></li>
          <li class="b-footer__links-group-list-item"><a class="c-link" href="/english/about/contact-us/">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="c-paragraph">© 2025 Radio Free Asia</p>
  </div>
</footer>
