<header class="c-stack b-rfa-singlecolumn-about__navigation" data-style-direction="vertical"
  data-style-justification="start" data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
  <div class="b-rfa-logo">
    <div class="b-rfa-logo__container"><a href="/english/" title="Radio Free Asia logo"><img class="b-rfa-logo__image"
          src="https://static.themebuilder.aws.arc.pub/radiofreeasia/1662642260979.png" alt="Radio Free Asia logo"></a>
    </div>
  </div>
  <nav id="main-nav" class="b-header-nav-chain b-header-nav-chain--scrolled" aria-label="Sections Menu">
    <div class="b-header-nav-chain__top-layout">
      <div class="b-header-nav-chain__nav-left">
        <div class="nav-components--mobile" data-testid="nav-chain-nav-components-mobile-left"><button
            data-testid="nav-chain-nav-section-button" aria-label="Sections"
            class="c-button c-button--small c-button--secondary-reverse" type="button"><svg class="c-icon" width="48"
              height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"
              aria-hidden="true" focusable="false">
              <path
                d="M25 96C25 78.33 39.33 64 57 64H441C458.7 64 473 78.33 473 96C473 113.7 458.7 128 441 128H57C39.33 128 25 113.7 25 96ZM25 256C25 238.3 39.33 224 57 224H441C458.7 224 473 238.3 473 256C473 273.7 458.7 288 441 288H57C39.33 288 25 273.7 25 256ZM441 448H57C39.33 448 25 433.7 25 416C25 398.3 39.33 384 57 384H441C458.7 384 473 398.3 473 416C473 433.7 458.7 448 441 448Z">
              </path>
            </svg></button></div>
        <div class="nav-components--desktop" data-testid="nav-chain-nav-components-desktop-left"><button
            data-testid="nav-chain-nav-section-button" aria-label="Sections"
            class="c-button c-button--small c-button--secondary-reverse" type="button"><span>Sections</span><svg
              class="c-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
              fill="currentColor" aria-hidden="true" focusable="false">
              <path
                d="M25 96C25 78.33 39.33 64 57 64H441C458.7 64 473 78.33 473 96C473 113.7 458.7 128 441 128H57C39.33 128 25 113.7 25 96ZM25 256C25 238.3 39.33 224 57 224H441C458.7 224 473 238.3 473 256C473 273.7 458.7 288 441 288H57C39.33 288 25 273.7 25 256ZM441 448H57C39.33 448 25 433.7 25 416C25 398.3 39.33 384 57 384H441C458.7 384 473 398.3 473 416C473 433.7 458.7 448 441 448Z">
              </path>
            </svg></button></div>
      </div><a title="Radio Free Asia logo" class="c-link b-header-nav-chain__logo  nav-logo-show "
        href="https://www.rfa.org/english/"><img
          src="https://static.themebuilder.aws.arc.pub/radiofreeasia/1662642260979.png" alt="Radio Free Asia logo"
          data-chromatic="ignore"></a>
      <nav aria-label="Top Links" class="c-stack b-header-nav-chain__links-list" data-style-direction="horizontal"
        data-style-justification="start" data-style-alignment="center" data-style-inline="false" data-style-wrap="wrap">
        <span class="b-header-nav-chain__links-list-item"><a class="c-link" href="https://www.rfa.org/mandarin"
            rel="noreferrer" target="_blank">普通话<span class="visually-hidden">Opens in new window</span></a></span><span
          class="b-header-nav-chain__links-list-item"><a class="c-link" href="https://www.rfa.org/cantonese"
            rel="noreferrer" target="_blank">粤语<span class="visually-hidden">Opens in new window</span></a></span><span
          class="b-header-nav-chain__links-list-item"><a class="c-link" href="https://www.rfa.org/burmese"
            rel="noreferrer" target="_blank">မြန်မာ<span class="visually-hidden">Opens in new
              window</span></a></span><span class="b-header-nav-chain__links-list-item"><a class="c-link"
            href="https://www.rfa.org/korean" rel="noreferrer" target="_blank">한국어<span class="visually-hidden">Opens in
              new window</span></a></span><span class="b-header-nav-chain__links-list-item"><a class="c-link"
            href="https://www.rfa.org/lao" rel="noreferrer" target="_blank">ລາວ<span class="visually-hidden">Opens in
              new window</span></a></span><span class="b-header-nav-chain__links-list-item"><a class="c-link"
            href="https://www.rfa.org/khmer" rel="noreferrer" target="_blank">ខ្មែរ<span class="visually-hidden">Opens
              in new window</span></a></span><span class="b-header-nav-chain__links-list-item"><a class="c-link"
            href="https://www.rfa.org/tibetan" rel="noreferrer" target="_blank">བོད་སྐད།<span
              class="visually-hidden">Opens in new window</span></a></span><span
          class="b-header-nav-chain__links-list-item"><a class="c-link" href="https://www.rfa.org/uyghur"
            rel="noreferrer" target="_blank">ئۇيغۇر<span class="visually-hidden">Opens in new
              window</span></a></span><span class="b-header-nav-chain__links-list-item"><a class="c-link"
            href="https://www.rfa.org/vietnamese" rel="noreferrer" target="_blank">Tiếng Việt<span
              class="visually-hidden">Opens in new window</span></a></span><span
          class="b-header-nav-chain__links-list-item"><a class="c-link" href="https://www.rfa.org/english"
            rel="noreferrer" target="_blank">English<span class="visually-hidden">Opens in new window</span></a></span>
      </nav>
      <div class="b-header-nav-chain__nav-right">
        <div class="nav-components--mobile" data-testid="nav-chain-nav-components-mobile-right"><button
            aria-label="Search" class="c-button c-button--small c-button--secondary-reverse" type="button"><span><svg
                class="c-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                fill="currentColor" aria-hidden="true" focusable="false">
                <path
                  d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                </path>
              </svg></span></button></div>
        <div class="nav-components--desktop" data-testid="nav-chain-nav-components-desktop-right"><button
            aria-label="Search" class="c-button c-button--small c-button--secondary-reverse" type="button"><span><svg
                class="c-icon" width="48" height="48" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                fill="currentColor" aria-hidden="true" focusable="false">
                <path
                  d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                </path>
              </svg></span></button></div>
      </div>
    </div>
    <div id="flyout-overlay" data-testid="nav-chain-flyout-overlay"
      class="c-stack b-header-nav-chain__flyout-overlay closed" data-style-direction="vertical"
      data-style-justification="start" data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
      <div>
        <div class="c-stack b-header-nav-chain__flyout-nav-wrapper closed" data-style-direction="vertical"
          data-style-justification="start" data-style-alignment="unset" data-style-inline="false"
          data-style-wrap="nowrap">
          <div class="nav-menu">
            <div data-testid="nav-chain-nav-components-mobile" class="c-stack nav-components--mobile"
              data-style-direction="vertical" data-style-justification="start" data-style-alignment="unset"
              data-style-inline="false" data-style-wrap="nowrap">
              <nav aria-label="More Links" class="c-stack b-links-bar" data-style-direction="horizontal"
                data-style-justification="center" data-style-alignment="unset" data-style-inline="false"
                data-style-wrap="wrap"><a class="c-link" href="https://www.rfa.org/mandarin" rel="noreferrer"
                  target="_blank">普通话<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/cantonese" rel="noreferrer"
                  target="_blank">粤语<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/burmese" rel="noreferrer"
                  target="_blank">မြန်မာ<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/korean" rel="noreferrer"
                  target="_blank">한국어<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/lao" rel="noreferrer"
                  target="_blank">ລາວ<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/khmer" rel="noreferrer"
                  target="_blank">ខ្មែរ<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/tibetan" rel="noreferrer"
                  target="_blank">བོད་སྐད།<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/uyghur" rel="noreferrer"
                  target="_blank">ئۇيغۇر<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/vietnamese" rel="noreferrer"
                  target="_blank">Tiếng Việt<span class="visually-hidden">Opens in new window</span></a><span
                  class="c-separator"></span><a class="c-link" href="https://www.rfa.org/english" rel="noreferrer"
                  target="_blank">English<span class="visually-hidden">Opens in new window</span></a></nav>
              <hr class="c-divider">
            </div>
            <div data-testid="nav-chain-nav-components-desktop" class="c-stack nav-components--desktop"
              data-style-direction="vertical" data-style-justification="start" data-style-alignment="unset"
              data-style-inline="false" data-style-wrap="nowrap"></div>
          </div>
          <ul class="c-stack b-header-nav-chain__flyout-nav" data-style-direction="vertical"
            data-style-justification="start" data-style-alignment="unset" data-style-inline="false"
            data-style-wrap="nowrap">
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/cambodia/"
                aria-hidden="true" tabindex="-1">Cambodia</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/china/"
                aria-hidden="true" tabindex="-1">China</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/laos/"
                aria-hidden="true" tabindex="-1">Laos</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/myanmar/"
                aria-hidden="true" tabindex="-1">Myanmar</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/korea/"
                aria-hidden="true" tabindex="-1">North Korea</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/tibet/"
                aria-hidden="true" tabindex="-1">Tibet</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/uyghur/"
                aria-hidden="true" tabindex="-1">Uyghur</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/vietnam/"
                aria-hidden="true" tabindex="-1">Vietnam</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/pacific/"
                aria-hidden="true" tabindex="-1">Pacific</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link"
                href="/english/south-china-sea/" aria-hidden="true" tabindex="-1">South China Sea</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/environment"
                aria-hidden="true" tabindex="-1">Environment</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/factcheck"
                aria-hidden="true" tabindex="-1">Asia Fact Check Lab</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/cartoon/"
                aria-hidden="true" tabindex="-1">Cartoon</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link"
                href="/english/special-reports/" aria-hidden="true" tabindex="-1">Special report</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/video"
                aria-hidden="true" tabindex="-1">Video</a></li>
            <li class="section-item" data-testid="nav-chain-section-item"><a class="c-link" href="/english/opinion/"
                aria-hidden="true" tabindex="-1">Opinion</a></li>
            <li class="section-item" data-testid="nav-chain-section-item">
              <div data-testid="nav-chain-section-item-subsection"
                class="c-stack b-header-nav-chain__subsection-anchor subsection-anchor open"
                data-style-direction="horizontal" data-style-justification="start" data-style-alignment="center"
                data-style-inline="false" data-style-wrap="nowrap"><a class="c-link" href="/english/about"
                  aria-hidden="true" tabindex="-1">About RFA</a><button aria-expanded="false"
                  aria-controls="header_sub_section_english/about" aria-label="Show About RFA sub sections"
                  class="c-button c-button--medium c-button--default submenu-caret" type="button"><span><svg
                      class="c-icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                      fill="currentColor" aria-hidden="true" focusable="false">
                      <path
                        d="M256 416C247.812 416 239.62 412.875 233.38 406.625L41.38 214.625C28.88 202.125 28.88 181.875 41.38 169.375C53.88 156.875 74.13 156.875 86.63 169.375L256 338.8L425.4 169.4C437.9 156.9 458.15 156.9 470.65 169.4C483.15 181.9 483.15 202.15 470.65 214.65L278.65 406.65C272.4 412.9 264.2 416 256 416Z">
                      </path>
                    </svg></span></button></div>
              <div class="b-header-nav-chain__subsection-container open">
                <ul class="b-header-nav-chain__subsection-menu" id="header_sub_section_english/about">
                  <li class="subsection-item" data-testid="nav-chain-subsection-item"><a class="c-link"
                      href="/english/about/leadership/" aria-hidden="true" tabindex="-1">Who We Are</a></li>
                  <li class="subsection-item" data-testid="nav-chain-subsection-item"><a class="c-link"
                      href="/english/about/releases" aria-hidden="true" tabindex="-1">Press Room</a></li>
                  <li class="subsection-item" data-testid="nav-chain-subsection-item"><a class="c-link"
                      href="/english/about/contact-us/" aria-hidden="true" tabindex="-1">Contact Us</a></li>
                  <li class="subsection-item" data-testid="nav-chain-subsection-item"><a class="c-link"
                      href="https://careers-rfacareers.icims.com/jobs/" aria-hidden="true" tabindex="-1"
                      rel="noreferrer" target="_blank">Jobs and Internships<span class="visually-hidden">Opens in new
                        window</span></a></li>
                </ul>
              </div>
            </li>
            <li class="section-menu--bottom-placeholder"></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
