<main id="main" tabindex="-1" class="c-stack b-rfa-singlecolumn-about__main" data-style-direction="vertical"
  data-style-justification="start" data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
  <div class="c-stack b-rfa-singlecolumn-about__full-width hide-if-empty" data-style-direction="vertical"
    data-style-justification="start" data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
  </div>
  <div class="c-stack b-rfa-singlecolumn-about__body" data-style-direction="vertical" data-style-justification="start"
    data-style-alignment="unset" data-style-inline="false" data-style-wrap="nowrap">
    <h1 class="b-headline">Circumventing Internet Censorship</h1>
    <article class="b-article-body">
      <p class="c-paragraph">As the governments of more countries use technology to block their citizens’ access to
        certain websites on the Internet, you might encounter difficulty visiting the RFA sites.</p>
      <p class="c-paragraph">A variety of tools exist for users to overcome Internet censorship. However, no
        circumvention method is perfect and a user should explore and consider the risks before using any tools. No tool
        can guarantee your privacy and anonymity.</p>
      <p class="c-paragraph">One of the most popular, though not secure, ways to avoid Internet censorship is to use
        proxy servers. All major browsers support the use of proxies through the settings or preferences menu.</p>
      <p class="c-paragraph">You can get updated proxy information sent to you automatically by sending an email to <a
          href="mailto:proxies@rfanews.org">proxies@rfanews.org</a>.</p>
      <hr class="c-divider">
      <p class="c-paragraph"><b>Circumvention Tools</b></p>
      <p class="c-paragraph">Tools are also available for certain mobile devices. Android users can download <a
          href="https://play.google.com/store/apps/details?id=org.torproject.android" title="Orbot">Orbot</a> or the <a
          href="https://www.torproject.org/download/">Tor Browser</a> to bypass censorship on their mobile device.</p>
      <div id="fusion-static-enter:article-html-block-VJOGO56LEBGDRP5V4UWXOM5P4U"
        data-fusion-component="article-html-block-VJOGO56LEBGDRP5V4UWXOM5P4U" style="display: none;"></div>
      <div class="b-article-body__html"><img
          src="/resizer/hAKNgxtOjaAh-vUeLIPw-l7eAAE=/arc-photo-radiofreeasia/arc2-prod/public/NUGVAE6UEMUS6TKLAT3TN5JNXM.png"
          width="200" height="61" style="margin: 60px 10px 0 0; padding-bottom: 5px"></div>
      <div id="fusion-static-exit:article-html-block-VJOGO56LEBGDRP5V4UWXOM5P4U"
        data-fusion-component="article-html-block-VJOGO56LEBGDRP5V4UWXOM5P4U" style="display: none;"></div>
      <p class="c-paragraph"><a href="https://www.nthlink.com/" target="_blank" rel=""
          title="https://www.nthlink.com/">nthlink</a> is another censorship circumvention tool that uses traffic
        masking, strong encryption, trusted DNS lookup, and automated IP switching for safer access to the unfettered
        Internet. It’s available for Android and iOS users on Google Play and iTunes. Users can also download the app
        directly <a href="https://s3.us-west-1.amazonaws.com/dwo-jar-kmf-883/download.html">here</a>.</p>
      <div id="fusion-static-enter:article-html-block-WOY4PD4BNFC2PF23PWBNSZXZHM"
        data-fusion-component="article-html-block-WOY4PD4BNFC2PF23PWBNSZXZHM" style="display: none;"></div>
      <div class="b-article-body__html">
        <div style="display: flex;">
          <a href="https://play.google.com/store/apps/details?id=com.nthlink.android.client" target="_blank">

            <img
              src="/resizer/EyC1pl9SYjWF3avaejUif6MtJ5g=/arc-photo-radiofreeasia/arc2-prod/public/Q45NYAXWYBHPHDS7IX55C6R7NI.png"
              width="160" style="margin: 10px 10px 0 0; padding-bottom: 5px">
          </a>
          <a href="https://apps.apple.com/us/app/nthlink/id1467297604" target="_blank">

            <img
              src="/resizer/UOzkwjIg47wZ_JDbAnXweHoTTOQ=/arc-photo-radiofreeasia/arc2-prod/public/76TLF3CBFBBYFCWDHSQJ7GKF6I.png"
              width="160" style="margin: 10px 10px 0 0; padding-bottom: 5px">
          </a>
        </div>
      </div>
      <div id="fusion-static-exit:article-html-block-WOY4PD4BNFC2PF23PWBNSZXZHM"
        data-fusion-component="article-html-block-WOY4PD4BNFC2PF23PWBNSZXZHM" style="display: none;"></div>
      <div id="fusion-static-enter:article-html-block-L6L2AHA72FFOJETAUJTSLGO6JE"
        data-fusion-component="article-html-block-L6L2AHA72FFOJETAUJTSLGO6JE" style="display: none;"></div>
      <div class="b-article-body__html"><img
          src="/resizer/XC2_7wDMB6kZvYP9wRGhu9tAT5w=/arc-photo-radiofreeasia/arc2-prod/public/2KGTM53INKRFWVZMFQXCADRKAE.png"
          width="90" style="margin: 60px 10px 0 0; padding-bottom: 5px"></div>
      <div id="fusion-static-exit:article-html-block-L6L2AHA72FFOJETAUJTSLGO6JE"
        data-fusion-component="article-html-block-L6L2AHA72FFOJETAUJTSLGO6JE" style="display: none;"></div>
      <p class="c-paragraph"><a href="https://www.psiphon3.net/en/download.html"
          title="https://www.psiphon3.net/en/download.html">Psiphon</a> is a circumvention tool that utilizes VPN, SSH
        and HTTP Proxy technology to provide you with uncensored access to Internet content.</p>
      <div id="fusion-static-enter:article-html-block-PQK7I3X63FARPIQYFDL2PNXLVM"
        data-fusion-component="article-html-block-PQK7I3X63FARPIQYFDL2PNXLVM" style="display: none;"></div>
      <div class="b-article-body__html">
        <div style="display: flex;">
          <a href="https://play.google.com/store/apps/details?id=com.nthlink.android.client" target="_blank">

            <img
              src="/resizer/EyC1pl9SYjWF3avaejUif6MtJ5g=/arc-photo-radiofreeasia/arc2-prod/public/Q45NYAXWYBHPHDS7IX55C6R7NI.png"
              width="160" style="margin: 10px 10px 0 0; padding-bottom: 5px">
          </a>
          <a href="https://apps.apple.com/us/app/nthlink/id1467297604" target="_blank">

            <img
              src="/resizer/UOzkwjIg47wZ_JDbAnXweHoTTOQ=/arc-photo-radiofreeasia/arc2-prod/public/76TLF3CBFBBYFCWDHSQJ7GKF6I.png"
              width="160" style="margin: 10px 10px 0 0; padding-bottom: 5px">
          </a>
        </div>
      </div>
      <div id="fusion-static-exit:article-html-block-PQK7I3X63FARPIQYFDL2PNXLVM"
        data-fusion-component="article-html-block-PQK7I3X63FARPIQYFDL2PNXLVM" style="display: none;"></div>
      <p class="c-paragraph"><b>Direct Download</b></p>
      <div id="fusion-static-enter:article-html-block-G2MV3T674NF2FHGA7UAOTJPQ6E"
        data-fusion-component="article-html-block-G2MV3T674NF2FHGA7UAOTJPQ6E" style="display: none;"></div>
      <div class="b-article-body__html">
        <div style="overflow: hidden; display: flex; gap: 10px; flex-direction: column;">
          <p class="c-paragraph">RFA Mandarin:</p>
          <a class="c-paragraph" href="https://s3.amazonaws.com/psiphon/web/4str-1dz0-v7xn/en/download.html#direct"
            style="overflow-wrap: break-word">https://s3.amazonaws.com/psiphon/web/4str-1dz0-v7xn/en/download.html#direct</a>
          <p class="c-paragraph">RFA Cantonese:</p>
          <a class="c-paragraph" href="https://s3.amazonaws.com/psiphon/web/5gpd-ev2q-xxgb/en/download.html#direct"
            style="overflow-wrap: break-word">https://s3.amazonaws.com/psiphon/web/5gpd-ev2q-xxgb/en/download.html#direct</a>
          <p class="c-paragraph">RFA Tibetan:</p>
          <a class="c-paragraph" href="https://s3.amazonaws.com/psiphon/web/svt9-8rwc-ikx4/en/download.html#direct"
            style="overflow-wrap: break-word">https://s3.amazonaws.com/psiphon/web/svt9-8rwc-ikx4/en/download.html#direct</a>
          <p class="c-paragraph">RFA Vietnamese:</p>
          <a class="c-paragraph" href="https://s3.amazonaws.com/psiphon/web/22eh-lk0b-uyry/en/download.html#direct"
            style="overflow-wrap: break-word">https://s3.amazonaws.com/psiphon/web/22eh-lk0b-uyry/en/download.html#direct</a>
        </div>
      </div>
      <div id="fusion-static-exit:article-html-block-G2MV3T674NF2FHGA7UAOTJPQ6E"
        data-fusion-component="article-html-block-G2MV3T674NF2FHGA7UAOTJPQ6E" style="display: none;"></div>
      <hr class="c-divider">
      <p class="c-paragraph">You can also get the news via email. Several of our news services distribute their stories
        via email newsletter. It is important to note that this method will not prevent the government from knowing the
        content you are receiving. Use the links below to sign up:</p>
      <p class="c-paragraph">Cantonese newsletter: Register <a
          href="https://www.rfa.org/cantonese/subscribenewsletter">here</a> or write to <a
          href="mailto:Cnews-join@rfanews.org" title="mailto:Cnews-join@rfanews.org">Cnews-join@rfanews.org</a>
        <br>Korean newsletter: Register <a href="https://www.rfa.org/korean/subscribenewsletter">here</a> or write to <a
          href="mailto:korean-join@rfanews.org">korean-join@rfanews.org</a> <br>Mandarin newsletter: Register <a
          href="https://www.rfa.org/mandarin/subscribenewsletter">here</a> or write to <a
          href="mailto:mnews-join@rfanews.org">mnews-join@rfanews.org</a> <br>Vietnamese newsletter: Register <a
          href="https://www.rfa.org/vietnamese/send_news_form">here</a> or write to <a
          href="mailto:Vietnews-join@rfanews.org">Vietnews-join@rfanews.org</a></p>
      <p class="c-paragraph">You can also share information on the web sites that are blocked on your computer. One
        service available is <a href="https://www.herdict.org">https://www.herdict.org</a>/.</p>
      <p class="c-paragraph">If you wish to share information about ways to overcome Internet censorship, write to us at
        <a href="mailto:contact@rfa.org">contact@rfa.org</a>.</p>
    </article>
  </div>
</main>
